.card-box{
    padding:30px;
    border-radius:20px;
    cursor:pointer;
    transition:all 0.3s ease;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card-box:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.blue{background:#dbe7ff;}
.cream{background:#f7eadf;}
.green{background:#d9ffe4;}
.purple{background:#eddcff;}

.search-box{
    background:white;
    width:350px;
    padding:12px 18px;
    border-radius:20px;
    box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.search-box input{
    border:none;
    outline:none;
    width:90%;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
}

.profile img{
    border-radius:50%;
    border:3px solid #7b2ff7;
}

.student{
    background:#eef4ff;
    padding:18px;
    margin-bottom:15px;
    border-radius:15px;
    transition:0.3s;
    cursor:pointer;
}

.student:hover{
    transform:translateX(8px);
    background:#dde9ff;
}

.menu li{
    padding:15px;
    margin-bottom:9px;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
}

.menu li:hover{
    background:white;
    color:#5c00ff;
}

.analytics,
.top-students{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}