body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#f5f5f5;
}

.dashboard{
    display:flex;
}

/* Sidebar */

.sidebar{
    width:280px;
    height:100vh;
    background:linear-gradient(to bottom,#7b2ff7,#5c00ff);
    color:white;
    padding:25px;
    border-radius:0 30px 30px 0;
}

.logo-box{
    display:flex;
    align-items:center;
    gap: 6px;
    background:#cbb2ff;
    color:#222;
    padding:20px;
    border-radius:20px;
}

.logo-circle{
    width:60px;
    height:60px;
    border-radius:50%;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
}

.menu-title{
    margin-top:40px;
    margin-bottom:20px;
    font-weight:600;
}

.menu{
    list-style:none;
    padding:0;
}

.menu li{
    padding:15px;
    margin-bottom:9px;
    border-radius:15px;
    cursor:pointer;
}

.menu li.active{
    background:white;
    color:#5c00ff;
}

.menu-link{
    text-decoration:none;
    color:white;
}

.menu-link li:hover{
    background:rgba(255,255,255,0.2);
}

.active-link li{
    background:white;
    color:#5c00ff;
}

.menu li:hover{
    background:rgba(255,255,255,0.2);
}

.logout-btn{
    margin-top:60px;
    width:100%;
    border:none;
    padding:15px;
    border-radius:15px;
    background:white;
    color:#5c00ff;
    font-weight:600;
}

/* Main */

.main-content{
    flex:1;
    padding:30px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-btn{
    background:#6f00ff;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
}

.search-box{
    background:white;
    width:350px;
    padding:12px;
    border-radius:20px;
}

.search-box input{
    border:none;
    outline:none;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile img{
    border-radius:50%;
}

.section-title{
    margin-top:40px;
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card-box{
    padding:30px;
    border-radius:20px;
}

.blue{background:#dbe7ff;}
.cream{background:#f7eadf;}
.green{background:#d9ffe4;}
.purple{background:#eddcff;}

.content-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
    margin-top:30px;
}

.analytics,
.top-students{
    background:white;
    padding:25px;
    border-radius:20px;
}

.graph-placeholder{
    height:250px;
    background:#f5f5f5;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.student{
    background:#eef4ff;
    padding:18px;
    margin-bottom:15px;
    border-radius:15px;
}